<div class="row my-3">
  <div class="col-md-4 m-auto py-3 bg-light bg-opacity-25 shadow rounded">
    <h1 class="text-center  text-light">Sign in</h2>
      <hr>

      <div class="col-md-10 m-auto">
        {{> message}}
        <form action="/user/login" method="POST" id="login-form">

          <div id="login-input" class="m-auto my-3 p-2 d-flex shadow">
            <i class="fa-solid fa-user mx-2 pt-1"></i>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
          </div>
          <div id="login-input" class="m-auto my-3 p-2 d-flex shadow">
            <i class="fas fa-unlock-alt mx-2 pt-1"></i>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
          </div>

          <div class="m-auto my-3 p-2 d-flex ">
            <button class="btn w-100 shadow" onclick="formCheck()">Login</button>
          </div>
        </form>
        <p class="text-center ">還沒有帳號？<a href="/user/register" class="registerMsg">立即加入</a></p>

        <div class="row">
          <div class="col-sm-6">
            <a href="/auth/facebook" class="btn btn-primary w-100 shadow"><span><i class="fa fa-facebook "></i></span>
              Facebook 登入</a>
          </div>
          <div class="col-sm-6">
            <a href="/auth/google" class="btn btn-danger w-100 shadow"><span><i class="fa fa-google"></i></span>
              Google 登入</a>
          </div>




        </div>


      </div>

  </div>


</div>
</div>

<style>

</style>

<script>
  const formCheck = () => {
    const form = document.querySelector('#login-form')
    form.classList.add('was-validated')
  }
</script>