<div class="row m-4">
  <div class="col-md-5 m-auto py-3 bg-light bg-opacity-25 shadow rounded">
    <h2 class="text-center  text-light">Forget Password? </h2>
      <hr>
      <p class="text-center  text-light">Don't worry！ You could rest your password through the e-mail we sent.</p>
      <div class="col-md-10 m-auto">
        {{> message}}
        <form action="/user/resetPassword" method="POST" id="login-form">
        <div id="login-input" class="m-auto my-3 p-2 d-flex shadow">
        <i class="fa-solid fa-user mx-2 pt-1"></i>
        <input type="email" id="email" name="email" class="form-control" placeholder="Please insert  email here" required>
        </div>
        <div class="m-auto my-3 d-flex">
          <button class="btn w-100 shadow" onclick="formCheck()">Send reset password email</button>
        </div>
        <a href="" onclick="history.back()" class="text-light">返回上一頁</a>
        </form>
  </div>
</div>

<script>
  const formCheck = () => {
    const form = document.querySelector('#login-form')
    form.classList.add('was-validated')
  }
</script>