<div class="row m-4">
  <div class="col-md-5 m-auto py-3 bg-light bg-opacity-25 shadow rounded">
    <h2 class="text-center  text-light">Reset Password </h2>
    <hr>
    <div class="col-md-10 m-auto">
      {{> message}}
      <h5 class="text-light">Please insert your new password below</h5>
      <form action="/user/resetPassword/{{ token }}" method="POST" id="reset-password-form">
        <div id="user-input" class="m-auto my-3 p-2 d-flex shadow">
          <i class="fas fa-lock mx-2 pt-1"></i>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div id="user-input" class="m-auto my-3 p-2 d-flex shadow">
          <i class="fas fa-unlock-alt mx-2 pt-1"></i>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="ConfirmPassword" required>
        </div>
        <div class="m-auto my-3 d-flex ">
          <button class="btn w-100 shadow" onclick="formCheck()">Change password</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    const formCheck = () => {
      const form = document.querySelector('#reset-password-form')
      form.classList.add('was-validated')
    }
  </script>