* {
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-image: url(' https://images.unsplash.com/photo-1527542146552-9e862c46e596?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJsdXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60 ');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.fa,
.fas {
  font-weight: 900;
}



#new-form label::after,
.require-mark::before,
#edit-form label::after {
  content: " * ";
  color: red;
}




input[type=number]::-webkit-inner-spin-button input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}