* {
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
  font-family: 'Noto Sans TC', sans-serif;
}

.fa,
.fas {
  font-weight: 900;
}



#new-form label::after,
.require-mark::before {
  content: " * ";
  color: red;
}


 

 input[type=number]::-webkit-inner-spin-button input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}